* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: #0F172A;
    font-family: "Poppins", sans-serif;
    color: #F8FAFC; 
    font-size: 20px;
   
    
}

h1,h2,h3 {

    font-family: "Roboto", sans-serif;
}
 a {
  text-decoration: none;
  color: #F8FAFC;
  font-size: 16px;
}

ul {
   list-style: none;
}

.desktop-nav-links {
  display: none;
}

header {
    background-color: #0F172A;
    padding: 2rem 1rem;
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid whitesmoke;
 
  

}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #F8FAFC;

}

.logo:hover {
    color: wheat;
    background-color: #0F172A;
    text-decoration: underline;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    position: absolute; 
    right: 0;
    top: 100%;
    padding: 0.5rem 0.5rem; 
    border-left: 1px solid whitesmoke ;
    border-bottom: 1px solid whitesmoke;
    background-color: #0F172A; 
    display: none;
}

/* SECTIONS */

/* home */
figcaption { 
    color: #F8FAFC;
    font-weight: 700;
}




.hero {
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 0.5rem;
    background-color: #1E293B;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-content a {
    background-color: #0F172A;
    padding: 0.5rem 0.5rem;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid aliceblue;
    border-radius: 10px;
}

.hero-content a:hover {
    background-color: darkred;
}

.hero img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding-top: 1rem;
 }
 .about-me-content img {
    display: none;
 }

 .hero figure {
    padding: 0 4rem;
 }
 
figcaption {
    opacity: 0.5;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

/* about me */
.about-me {
    margin: 0.5rem 0.5rem;
   background-color:#1E293B ;
   font-size: 20px ;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
}
.text h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid aliceblue;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    background-color: beige;
    color: red;
    transition: all 3s ease-in-out;
    width:fit-content;

}
.text h2:hover {
    text-decoration: underline;
    transform: translateY(-1rem);
}
.text h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 3s ease-in-out;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    width:fit-content;
}
.text h3:hover {
    transform: translateX(3rem);
}



/* skills section */

.skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}
.skills-content div {
    border: 1px solid aliceblue;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #1E293B;
    padding: 0.5rem 0.5rem;
    transition: all 0.5s ease-in-out;
}

.skills-content div:hover {
    background-color: darkred;
    transform: scale(1.1);
}
.skills-content div button {
    background-color: #0F172A;
    padding: 0.5rem 0.5rem;
    font-weight: 800;
}

.skills-content div button:hover {
    background-color:#1E293B;
} 

.skills-content div p {
    font-weight: 600;
}

/* project section */
.project {
    margin: 1rem 1rem;
    
}
.project-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.project-container div {
    border: 1px solid aliceblue;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    font-size: 20px;
}

.project-container div:hover {
    cursor: pointer;
    background-color: darkred;

}

.project-container div button {
   background-color: #1E293B;
   padding: 0.5rem 0;
}
.project-container div a {
    font-size: 16px;
    font-weight: 800;
}

.pj1 {
   
    background-image: url(../images/naya\ image\ 2.jpeg);
    background-position: center;
    background-size: cover;
    font-weight: 700;
}


 .pj2 {
  
    background-image: url(../images/2150201871.jpg);
    background-position: center;
    background-size: cover;
    font-weight: 700;
}
.pj3 {
    
    background-image: url(../images/download.jpg);
    background-position: center;
    background-size: cover;
    font-weight: 700;
}
.pj4 {
    
    background-image: url(../images/Club\ Foot\ Treatment\ _\ Foot\ Disorders\ _\ Foot\ and\ Ankle\ Specialist\ India.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 700;
    
}

.contact {
    margin: 1rem 1rem;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #1E293B;
    padding: 0.5rem 0.5rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
}

input {
    padding: 0.5rem 1rem;
    border: 1px solid aliceblue;
    border-radius: 10px;
    color: aliceblue;
    font-size: 16px;
}
input:focus {
    background-color: #0F172A;
    
}

.contact-content button {
    display: block;
    padding: 1rem 1rem;
    border: 1px solid aliceblue;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 800;
}

.contact-content button:focus {
    background-color: #0F172A;
}

.contact-content textarea {
    border: 1px solid aliceblue;
    border-radius: 10px;
    color: aliceblue;
    font-size: 16px;
}
.contact-content textarea::placeholder {
    padding: 0.5rem 0.5rem;
}

.contact-content textarea:focus {
    background-color: #0F172A;
}

.follow {
    display: flex ;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid aliceblue;
    padding: 0.5rem 0.5rem;
}

.follow1 {
    display: inline;
}
.follow div {
    padding: 0 0.5rem;
}

.footer {
    margin: 4rem 0.5rem;
    background-color: #1E293B;
    padding: 2rem 1rem;
}



@media (min-width:768px) {
    /* hero section */
    .mobile-nav-links {
        display: none;
    }
    .mobile {
        display: none;
    }
    .logo {
        transition: all 0.3s ease;
        display: inline-block;
        border: 1px solid aliceblue;
        border-radius: 10px;
        padding: 1rem 1rem;
    }
    .logo:hover {
        background-color: darkred;
        color: aliceblue;
        transform: scale(1.05);
    }
   
    .desktop-nav-links {
        display:flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .about-me-content img {
        display: none;
    }
    
    .desktop-nav-links a {
        border: 1px solid aliceblue;
        padding: 0.5rem 0.5rem;
        border-radius: 10px;
        font-weight: 800;
        transition: all 0.3s ease;
        display: inline-block;
    }

    .desktop-nav-links a:hover {
        background-color:darkred;
        transform: scale(1.05);
    }
    
    body {
    background-color: #0F172A;
    font-family: "Poppins", sans-serif;
    }

    .hero-project a {
    font-size: 20px;
    font-weight: 800;

    }
}

@media (min-width:1024px) {
    .mobile-nav-links {
        display: none;
    }

    body {
    background-color: #0F172A;
    font-family: "Poppins", sans-serif;
    }

    .mobile {
        display: none;
    }

    .desktop-nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    

    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

  


/* about me section */
    
  .about-me-content img {
    display:block;
    flex-direction: column;
    padding: 0.5rem 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 0 auto;

    }
    .about-me-content{
    display: grid;
    grid-template-columns:2fr 2fr;
    gap: 2rem;
    align-items: center;
    }
    
    .skills-content {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap: 2rem;
       
    }
    .skills-content div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .skills-content div button {
        align-self: center;
       
    }
    .project-container{
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: auto;
    }

      

        



        
        


    
    
}



